### Intalling required packages

In [ ]:
pip install geopy

In [ ]:
pip install folium

In [ ]:
pip install Googlemaps

### Importing packages

In [ ]:
from geopy.geocoders import Nominatim
from geopy.geocoders import ArcGIS
from geopy.geocoders import GoogleV3
from geopy.geocoders import AzureMaps
import googlemaps
import pandas as pd
import csv
import folium

### Testing code

In [ ]:
import requests
geo_url = 'http://maps.googleapis.com/maps/api/geocode/json'
my_address = {'address': '21 Ramkrishana Road, Burdwan, East Burdwan, West Bengal, India', 
             'language': 'en'}
response = requests.get(geo_url, params = my_address)
results = response.json()['results']
my_geo = results[0]['geometry']['location']
print("Longitude:",my_geo['lng'],"\n","Latitude:",my_geo['lat'])

In [ ]:
map_client = googlemaps.Client("AIzaSyB-VGdXHWJulJG6AdVayspNgC1t9FPmH7M")

In [ ]:
response

In [ ]:
geolocator2 = GoogleV3(api_key= "code")

In [ ]:
geolocator1 = GoogleV3(api_key= "Code")
location = geolocator.geocode("KidZania Mumbai,Western Suburbs")
print((location.latitude, location.longitude))

In [ ]:
nom=ArcGIS()
nom.geocode("Apollo Bandar, Colaba, Mumbai, Maharashtra 400001")

In [ ]:
geolocator = Nominatim(user_agent="geoapiExercises")
location = geolocator.geocode("Gateway of India,Wellington Pier,Mumbai")
print((location.latitude, location.longitude))

In [ ]:
mumbai_CSV_list_pandas = pd.read_csv('csv\mumbai.csv')

In [ ]:
mumbai_CSV_list_pandas

In [ ]:
# mumbai_CSV_list_pandas.set_index('Tourist_spot',inplace=True)
mumbai_CSV_list_pandas['Address']=mumbai_CSV_list_pandas['Tourist_spot']+','+mumbai_CSV_list_pandas['Area']+','+mumbai_CSV_list_pandas['City']
print(mumbai_CSV_list_pandas)

In [ ]:
mumbai_CSV_list_pandas['coordinates'] = mumbai_CSV_list_pandas['Address'].apply(nom.geocode)
mumbai_CSV_list_pandas['latitude'] = mumbai_CSV_list_pandas['coordinates'].apply(lambda x:x.latitude)
mumbai_CSV_list_pandas['longitude'] = mumbai_CSV_list_pandas['coordinates'].apply(lambda x:x.longitude)

In [ ]:
mumbai_CSV_list_pandas.drop(['Address','coordinates'], axis=1)

In [ ]:
map_new=folium.Map()
list_coor=mumbai_CSV_list_pandas[['Tourist_spot','latitude','longitude']].values.tolist()
for i in list_coor:
    map_new.add_child(folium.Marker(location=[i[1],i[2]],
                                    popup=i[0],icon=folium.Icon(color='green')))
map_new.save('Tourist_spot_Mumbai.html')

In [ ]:
mumbai_CSV_list_pandas.to_csv('csv\mumbai.csv')

In [ ]:
driver = webdriver.Chrome(options=options)
#Locations 0-30
driver.get("https://www.tripadvisor.in/Attractions-g304558-Activities-oa0-Chennai_Calcutta_Chennai_District_West_Bengal.html")
html_source = driver.page_source
Chennai_TA_0 = open("web_scrapped_data\Chennai_0.txt", "w",encoding='utf-8')
Chennai_TA_0.write(html_source)
Chennai_TA_0.close()
#Ratings 0-30
Chennai_AR_0 = open("web_scrapped_data\Chennai_0.txt", "w",encoding='utf-8')
Chennai_AR_0.write(html_source)
Chennai_AR_0.close()
#Locations 30-60
driver.get("https://www.tripadvisor.in/Attractions-g304558-Activities-oa30-Chennai_Calcutta_Chennai_District_West_Bengal.html")
html_source = driver.page_source
Chennai_TA_30 = open("web_scrapped_data\Chennai_30.txt", "w",encoding='utf-8')
Chennai_TA_30.write(html_source)
Chennai_TA_30.close()
#Ratings 30-60
Chennai_AR_30 = open("web_scrapped_data\Chennai_30.txt", "w",encoding='utf-8')
Chennai_AR_30.write(html_source)
Chennai_AR_30.close()
#Locations 60-90
driver.get("https://www.tripadvisor.in/Attractions-g304558-Activities-oa60-Chennai_Calcutta_Chennai_District_West_Bengal.html")
html_source = driver.page_source
Chennai_TA_60 = open("web_scrapped_data\Chennai_60.txt", "w",encoding='utf-8')
Chennai_TA_60.write(html_source)
Chennai_TA_60.close()
#Ratings 60-90
Chennai_AR_60 = open("web_scrapped_data\Chennai_60.txt", "w",encoding='utf-8')
Chennai_AR_60.write(html_source)
Chennai_AR_60.close()
#Locations 90-120
driver.get("https://www.tripadvisor.in/Attractions-g304558-Activities-oa90-Chennai_Calcutta_Chennai_District_West_Bengal.html")
html_source = driver.page_source
Chennai_TA_90 = open("web_scrapped_data\Chennai_90.txt", "w",encoding='utf-8')
Chennai_TA_90.write(html_source)
Chennai_TA_90.close()
#Ratings 90-120
Chennai_AR_90 = open("web_scrapped_data\Chennai_90.txt", "w",encoding='utf-8')
Chennai_AR_90.write(html_source)
Chennai_AR_90.close()

# Testing for knn

In [ ]:
import geopy.distance

coords_1 = (18.92255, 72.83417)
coords_2 = (18.94666, 72.82459)

print (geopy.distance.geodesic(coords_1, coords_2).km)

# Getting all categories in a list using no weights

In [1]:
import pandas as pd
csvfile = pd.read_csv('csv\mumbai.csv')

In [2]:
categories_mumbai = csvfile["Categories"]

In [3]:
categories_mumbai_list = categories_mumbai.values.tolist()

In [4]:
categories_duplicates_included = []
for x in categories_mumbai_list:
    if x[0] == "[":
        y = x.split(",")
        for z in y:
            if z[0] == "[":
                appending_variable = z.replace("['","")
                appending_variable1 = appending_variable.replace("'","")
                categories_duplicates_included.append(appending_variable1)
            elif z[-1] == ']':
                print
                appending_variable = z.replace("']","")
                appending_variable1 = appending_variable.replace(" '","")
                categories_duplicates_included.append(appending_variable1)
    else:
        categories_duplicates_included.append(x)

In [5]:
categories_no_duplicates = []
[categories_no_duplicates.append(x) for x in categories_duplicates_included if x not in categories_no_duplicates]

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [6]:
lat_long_df = csvfile[["latitude","longitude"]]

In [7]:
lat_long_df

     latitude  longitude
0    18.92255   72.83417
1    18.94666   72.82459
2    19.04316   72.82446
3    18.95529   72.80473
4    18.94111   72.83667
..        ...        ...
115  18.93548   72.83940
116  19.14305   72.96214
117  18.97072   72.80808
118  18.90654   72.81659
119  18.92802   72.83252

[120 rows x 2 columns]

In [8]:
spot_df = csvfile[["Tourist_spot"]]

In [9]:
spot_df

                         Tourist_spot
0                    Gateway of India
1                        Marine Drive
2               Bandra-Worli Sea Link
3                 Shree Siddhivinayak
4        Chhatrapati Shivaji Terminus
..                                ...
115                    Ballard Estate
116           Bhandup Pumping Station
117  National Museum of Indian Cinema
118                     Afghan Church
119       Keneseth Eliyahoo Synagogue

[120 rows x 1 columns]

In [10]:
coords_1 = (19.0262545, 72.863352)

In [11]:
lat_long_list = lat_long_df.values.tolist()

In [12]:
#lat_long_list

In [13]:
len_lat_long_list = len(lat_long_list)

In [14]:
import geopy.distance

In [15]:
dist_btn_user_place_test2 = []
for x in lat_long_list:
    coords_2 = (x[0],x[1])
    dist_btn_user_place_test2.append(geopy.distance.geodesic(coords_1, coords_2).km)

In [16]:
dist_btn_user_place_test2

[11.883465902180411,
 9.710008583732455,
 4.501556560915314,
 9.990356477802347,
 9.834694207195975,
 9.989083998354436,
 12.888314553618537,
 12.054656096157586,
 17.689955083176322,
 9.167228271533798,
 23.20082615537116,
 24.185272055381404,
 4.692939740823176,
 20.360018188416177,
 20.529788475644008,
 9.408457096326757,
 17.050963059140056,
 7.781485815686811,
 11.687136425344686,
 6.311066623732847,
 7.537129256072097,
 11.53869315945775,
 6.531093769335917,
 9.475428518442,
 5.3889798074689,
 9.989083998354436,
 23.610254255083916,
 10.570900398850382,
 7.142716936055525,
 5.132642021698382,
 13.167721811887874,
 11.481675084957772,
 11.011023531918925,
 10.919172333808568,
 8.038476556879408,
 2.4468175334147255,
 23.16314631344118,
 2.730307340494503,
 11.00852410200974,
 8.855548473314485,
 16.407654201864514,
 8.956023273942838,
 9.621555894775442,
 9.855458178976019,
 8.85085967975829,
 10.381301230384997,
 7.457358835806727,
 9.659440574687096,
 11.251627722712866,
 6.101358091969402,
 6.046147961392167,
 13.358542550570226,
 17.73519438105442,
 8.154575375625745,
 11.395488526537122,
 10.872312994758211,
 9.999727069142844,
 6.951399126128142,
 6.097809752556834,
 8.014598215456875,
 9.813016064211247,
 11.96806818150922,
 25.386489851672017,
 9.989083998354436,
 5.4009483158336975,
 9.147656404994297,
 9.710008583732455,
 5.0174341150953135,
 5.070630701388353,
 10.829168761308656,
 19.63278308555515,
 9.272333148491875,
 10.305876992916229,
 11.025139474352278,
 6.592876409441611,
 16.407654201864514,
 9.935345237837387,
 12.513773154821822,
 4.317689167070177,
 15.38289647152272,
 9.499277962571103,
 10.728967489090735,
 3.0639416532545325,
 16.485107439236465,
 12.949022993053418,
 3.017450022969049,
 1.086320742620862,
 21.71377225273426,
 16.464675459026108,
 9.179986226585356,
 9.239711598510041,
 9.159942290283995,
 11.4211989697707,
 12.888314553618537,
 22.015863084432066,
 10.60721051961769,
 2.28431640947076,
 9.051189354289333,
 3.4544391205156617,
 7.763163822064752,
 10.846214185304408,
 1.9150336278943942,
 9.225034876509092,
 9.989083998354436,
 1.2327453842104865,
 1.3486118584269835,
 9.989083998354436,
 11.907642258925486,
 8.935753338220914,
 12.496734437815295,
 9.989083998354436,
 7.001598425420308,
 13.387206769820025,
 9.049643863112424,
 9.989083998354436,
 10.359726836455197,
 16.59000463796513,
 8.46510039643287,
 14.136892661687034,
 11.34813906363372]

In [17]:
spot_df.insert(1,'Distance',dist_btn_user_place_test2)

In [18]:
spot_df

                         Tourist_spot   Distance
0                    Gateway of India  11.883466
1                        Marine Drive   9.710009
2               Bandra-Worli Sea Link   4.501557
3                 Shree Siddhivinayak   9.990356
4        Chhatrapati Shivaji Terminus   9.834694
..                                ...        ...
115                    Ballard Estate  10.359727
116           Bhandup Pumping Station  16.590005
117  National Museum of Indian Cinema   8.465100
118                     Afghan Church  14.136893
119       Keneseth Eliyahoo Synagogue  11.348139

[120 rows x 2 columns]

In [21]:
spot_dist_sorted = spot_df.sort_values(by=['Distance'])

In [22]:
spot_dist_sorted.head(10)

                    Tourist_spot  Distance
86       Ambreshwar Shiva Temple  1.086321
104                 Five Gardens  1.232745
105  Thiruchembur Murugan Temple  1.348612
101              BB Dadar Market  1.915034
96                          Juhu  2.284316
35                       Dharavi  2.446818
37                  Shivaji Park  2.730307
85          St. Michael's Church  3.017450
82       Maharashtra Nature Park  3.063942
98                   Sewri Jetty  3.454439

# Getting all categories in a list using weights

In [28]:
categories_df = pd.DataFrame(categories_no_duplicates, columns=["Categories"])

In [29]:
categories_df

                        Categories
0   Points of Interest & Landmarks
1              Monuments & Statues
2                    Scenic Drives
3                          Bridges
4                  Religious Sites
5                   Historic Sites
6          Architectural Buildings
7          Amusement & Theme Parks
8                   Neighbourhoods
9                  History Museums
10                 Caverns & Caves
11                  National Parks
12                         Beaches
13              Speciality Museums
14                  Shopping Malls
15                     Water Parks
16               Arenas & Stadiums
17                   Art Galleries
18                           Parks
19           Flea & Street Markets
20                        Theatres
21                         Gardens
22                Sports Complexes
23                 Bodies of Water
24                    Horse Tracks
25                 Science Museums
26                         Ferries
27         Hammams & Turkish Baths
28                            Spas
29                       Libraries
30                       Fountains
31         Nature & Wildlife Areas
32                         Islands
33                           Ships
34              Piers & Boardwalks
35           Churches & Cathedrals
36                          Operas
37                     Playgrounds

In [39]:
categories_rating_df = categories_df.assign(Weight = 3)

In [40]:
categories_rating_df

                        Categories  Weight
0   Points of Interest & Landmarks       3
1              Monuments & Statues       3
2                    Scenic Drives       3
3                          Bridges       3
4                  Religious Sites       3
5                   Historic Sites       3
6          Architectural Buildings       3
7          Amusement & Theme Parks       3
8                   Neighbourhoods       3
9                  History Museums       3
10                 Caverns & Caves       3
11                  National Parks       3
12                         Beaches       3
13              Speciality Museums       3
14                  Shopping Malls       3
15                     Water Parks       3
16               Arenas & Stadiums       3
17                   Art Galleries       3
18                           Parks       3
19           Flea & Street Markets       3
20                        Theatres       3
21                         Gardens       3
22                Sports Complexes       3
23                 Bodies of Water       3
24                    Horse Tracks       3
25                 Science Museums       3
26                         Ferries       3
27         Hammams & Turkish Baths       3
28                            Spas       3
29                       Libraries       3
30                       Fountains       3
31         Nature & Wildlife Areas       3
32                         Islands       3
33                           Ships       3
34              Piers & Boardwalks       3
35           Churches & Cathedrals       3
36                          Operas       3
37                     Playgrounds       3

In [41]:
categories_rating_df_updated = categories_rating_df

In [42]:
categories_rating_df_updated.loc[[0,1,2],'Weight'] = 1

In [43]:
categories_rating_df_updated

                        Categories  Weight
0   Points of Interest & Landmarks       1
1              Monuments & Statues       1
2                    Scenic Drives       1
3                          Bridges       3
4                  Religious Sites       3
5                   Historic Sites       3
6          Architectural Buildings       3
7          Amusement & Theme Parks       3
8                   Neighbourhoods       3
9                  History Museums       3
10                 Caverns & Caves       3
11                  National Parks       3
12                         Beaches       3
13              Speciality Museums       3
14                  Shopping Malls       3
15                     Water Parks       3
16               Arenas & Stadiums       3
17                   Art Galleries       3
18                           Parks       3
19           Flea & Street Markets       3
20                        Theatres       3
21                         Gardens       3
22                Sports Complexes       3
23                 Bodies of Water       3
24                    Horse Tracks       3
25                 Science Museums       3
26                         Ferries       3
27         Hammams & Turkish Baths       3
28                            Spas       3
29                       Libraries       3
30                       Fountains       3
31         Nature & Wildlife Areas       3
32                         Islands       3
33                           Ships       3
34              Piers & Boardwalks       3
35           Churches & Cathedrals       3
36                          Operas       3
37                     Playgrounds       3

In [45]:
spot_category = csvfile[["Tourist_spot","Categories"]]

In [46]:
spot_category

,Tourist_spot,Categories
0,Gateway of India,"['Points of Interest & Landmarks', 'Monuments ..."
1,Marine Drive,"['Points of Interest & Landmarks', 'Scenic Dri..."
2,Bandra-Worli Sea Link,Bridges
3,Shree Siddhivinayak,Religious Sites
4,Chhatrapati Shivaji Terminus,"['Historic Sites', 'Architectural Buildings']"
...,...,...
115,Ballard Estate,Points of Interest & Landmarks
116,Bhandup Pumping Station,Nature & Wildlife Areas
117,National Museum of Indian Cinema,Speciality Museums
118,Afghan Church,Churches & Cathedrals
119,Keneseth Eliyahoo Synagogue,Religious Sites

In [51]:
spot_category['Categories'][0][0]

'['

In [59]:
categories_rating_df_updated["Weight"][1] + 5

6

In [61]:
for x in spot_category.index:
    multiple_category_fix = []
    interger1 = 0
    if spot_category['Categories'][x][0] == "[":
        y = spot_category['Categories'][x].split(",")
        for z in y:
            if z[0] == "[":
                appending_variable = z.replace("['","")
                appending_variable1 = appending_variable.replace("'","")
                multiple_category_fix.append(appending_variable1)
            elif z[-1] == ']':
                print
                appending_variable = z.replace("']","")
                appending_variable1 = appending_variable.replace(" '","")
                multiple_category_fix.append(appending_variable1)
        for x1 in categories_rating_df_updated.index:
            for x2 in multiple_category_fix:
                if categories_rating_df_updated["Categories"][x1] == x2:
                    interger1 = interger1 + categories_rating_df_updated["Weight"][x1]
            interger1_div = interger1/2         
    print(x)
    print(interger1_div)

0
1.0
1
1.0
2
1.0
3
1.0
4
3.0
5
3.0
6
3.0
7
3.0
8
3.0
9
3.0
10
3.0
11
3.0
12
3.0
13
2.0
14
2.0
15
2.0
16
2.0
17
2.0
18
2.0
19
2.0
20
2.0
21
2.0
22
2.0
23
2.0
24
2.0
25
2.0
26
2.0
27
2.0
28
2.0
29
2.0
30
2.0
31
2.0
32
2.0
33
2.0
34
2.0
35
2.0
36
2.0
37
2.0
38
2.0
39
2.0
40
2.0
41
2.0
42
2.0
43
2.0
44
3.0
45
3.0
46
3.0
47
3.0
48
3.0
49
3.0
50
3.0
51
3.0
52
3.0
53
3.0
54
3.0
55
3.0
56
3.0
57
3.0
58
3.0
59
3.0
60
3.0
61
3.0
62
3.0
63
3.0
64
3.0
65
3.0
66
3.0
67
3.0
68
3.0
69
3.0
70
3.0
71
3.0
72
3.0
73
2.0
74
2.0
75
2.0
76
3.0
77
3.0
78
3.0
79
3.0
80
3.0
81
3.0
82
3.0
83
3.0
84
2.0
85
2.0
86
2.0
87
2.0
88
2.0
89
2.0
90
2.0
91
2.0
92
2.0
93
2.0
94
2.0
95
2.0
96
2.0
97
2.0
98
2.0
99
2.0
100
2.0
101
2.0
102
2.0
103
2.0
104
2.0
105
2.0
106
3.0
107
3.0
108
3.0
109
3.0
110
3.0
111
3.0
112
3.0
113
3.0
114
3.0
115
3.0
116
3.0
117
3.0
118
3.0
119
3.0

In [53]:
multiple_category_fix

['Points of Interest & Landmarks',
 'Monuments & Statues',
 'Points of Interest & Landmarks',
 'Scenic Drives',
 'Historic Sites',
 'Architectural Buildings',
 'Architectural Buildings',
 'Religious Sites',
 'Points of Interest & Landmarks',
 'Caverns & Caves',
 'Points of Interest & Landmarks',
 'Religious Sites',
 'Points of Interest & Landmarks',
 'Architectural Buildings',
 'Parks',
 'Gardens',
 'Architectural Buildings',
 'Religious Sites',
 'Hammams & Turkish Baths',
 'Spas',
 'Points of Interest & Landmarks',
 'Fountains',
 'Historic Sites',
 'Architectural Buildings',
 'Islands',
 'Beaches',
 'Points of Interest & Landmarks',
 'Piers & Boardwalks',
 'Points of Interest & Landmarks',
 'Architectural Buildings',
 'Nature & Wildlife Areas',
 'Parks']

# Haversine

In [ ]:
pip install haversine

In [ ]:
import haversine as hs

In [ ]:
hs.haversine(coords_1,coords_2)

# OSMR API

In [ ]:
import requests
import json# call the OSMR API
r = requests.get(f"http://router.project-osrm.org/route/v1/car/18.94666,72.82459;19.030491,72.867002;18.94017,72.83489?overview=false")

In [ ]:
routes = json.loads(r.content)
route_1 = routes.get("routes")[0]

In [ ]:
r

In [ ]:
routes

In [ ]:
route_1

In [ ]:
route_1["distance"]